<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <student-details my-title="Hello"></student-details>
    <student-details my-title="Hi"></student-details>

    <div ng-controller="MyController">
               
        <!-- <input type="text" ng-model="myval">
        <button ng-click="onClick('someValue')">Click me</button>
        <div ng-if="myval.length === 0">
            myval is empty 1
        </div>
        <div ng-hide="myval.length === 0">
            myval is empty 2
        </div> -->

        <student-details myList="students" my-title="{{name}}"></student-details>
        <div>{{name | lowercase}}</div>
        <div>{{name | lowercase}}</div>
        <div>{{name}}</div>
        <div>{{mydate | date}}</div>
        <div>{{100 | currency: 'INR'}}</div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr ng-repeat="student in students"> -->
                    <tr ng-repeat= "student in getStudents">
                    <td>
                        {{student.name | customName: 'hello'}}
                    </td>
                    <td>
                        {{student.age}}
                    </td>
                    <td>
                        {{student.seniority}}
                    </td>
                    <td>
                        <button ng-click="onViewBtnClick(student)">View Details</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <student-details current-student="selectedStudent" 
        my-title="Student Details"></student-details>
        <!-- <div ng-show="selectedStudent">
            <h2>Student Details</h2>
            <p>Name: {{selectedStudent.name}}</p>
            <p>Age: {{selectedStudent.age}}</p>
            <p>Seniority: {{selectedStudent.seniority}}</p>
        </div> -->
    </div>
<!-- 
    <div style="border: 1px soli #000d" ng-controller="MyController">
{{myval}}
    </div> -->
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="app.service.js"></script>
    <script src="app.filter.js"></script>
    <script src="app.component.js"></script>
</body>
</html>